<h1>Restaurant reviews</h1>
    <% for review in @reviews %>
       <%= link_to review.title, review %> <br /> 
       <%= review.article %><br />


       
       <%= link_to time_ago_in_words(review.created_at) + " ago", review %> 
       submitted by <%= review.poster %><br /><br />
       <%= link_to 'Post a new review', new_review_path, class: "btn btn-success" %>
    <% end %>