<!DOCTYPE html>
<html>
<head>
  <title>Restaurant</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
	<div id="header">
		<h1>The Restaurant Review</h1>
		<h4>Find places to eat</h4>
	</div> <!-- END HEADER-->
	<div id="content">
		<div id="navigation">
			<h2>Welcome</h2>
			<br/>
			<strong><%= link_to 'Home', '/reviews' %><br /><br /></strong>
    		<strong><%= link_to 'Login to post', { :action => :login} %><br /></strong>
    		<p style="color: green"><%= flash[:notice] %></p>
    		<strong><%= link_to 'Register for free', {:action => :register} %><br /></strong>
    
    		<strong><%= link_to 'Post a new review', new_review_path %><br /></strong>
    		<br />

    		<%= form_tag :action => 'search' do %>
	    		<label><font color="#663300" size="-1">Search for review:</font> </label>
	    		<%= text_field_tag :searchFor %>
	    		<%= submit_tag "Find" %>
    		<% end %>
   		</div> <!-- END NAVIGATION-->
	    <div id="main">
	    	<p style="color: green"><%= flash[:notice] %></p>
			<%= yield %>
		</div> <!-- END MAIN-->

	    <div id="news">
	    	<h2>What's cookin'</h2><br />
	    	The latest restaurant news<br />
	    </div> <!-- END NEWS-->
    </div> <!-- END CONTENT-->

    <div id="footer">
    	<a href="mailto:myuser@myhost.com"><font size="1">Contact Us</font></a><font size="1"> | &copy;2012 Your Name </font>
    </div> <!-- END FOOTER-->
	</div> <!-- END CONTAINER -->
</body>
</html>
