<!DOCTYPE html>
<html>
<head>
  <title>Restaurant</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
      <div class="masthead">
        <h3 class="muted">The Restaurant Review</h3>
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav">
                <li class="active"><%= link_to 'Home', '/reviews' %></li>
                <li class="divider-vertical"></li>
                <li><a href="#">About</a></li>
                <li class="divider-vertical"></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
          </div>
        </div><!-- /.navbar -->
      </div>
	<div class="row">
		<div class="span3">
			<div class="well sidebar-nav">
	            <ul class="nav nav-list">
	              <li class="nav-header">Sidebar</li>
	              <li><%= link_to 'Login to post', { :action => :login} %></li>
	              <li><%= link_to 'Register for free', {:action => :register} %></li>
	              <li><%= link_to 'Post a new review', new_review_path %></li>
	            </ul>
          	</div><!--/.well -->
        </div><!--/span-->
    	<div class="span6">
    		<p style="color: green"><%= flash[:notice] %></p>
			<%= yield %>
		</div>

	    <div class="span3">
	    	<h2>What's cookin'</h2><br />
	    	The latest restaurant news<br />
	    </div> <!-- END NEWS-->
	</div>
    <div class="footer">
    	<a href="mailto:myuser@myhost.com">Contact Us</a> | &copy;2012 Your Name
    </div> <!-- END FOOTER-->
	</div> <!-- END CONTAINER -->
</body>
</html>
